/*
.citation_book {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
}
*/

h1,
h2,
h3,
h4 {
    color: white;
}

body {
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
    background-color: #343a40;
    background: url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
    color: black;
}

.modal-backdrop {
    background-color: yellow;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}

table.table-fit thead th,
table.table-fit tfoot th {
    width: auto !important;
}

table.table-fit tbody td,
table.table-fit tfoot td {
    width: auto !important;
}

#Modal-View-Search table {
    color: rgb(0, 0, 0);
}

.form input,
.form label {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

input,
label {
    color: rgb(255, 255, 255);
}

input:invalid+span::after {
    content: '✖';
}

input:valid+span::after {
    content: '✓';
}

.table {
    color: rgba(245, 245, 245, 0.671);
}

.table td:not(:nth-child(2)) {
    width: 10%;
}

.table td:nth-child(3) a {
    width: 100%;
}

.table img {
    width: 40px;
}

#searchBtn {
    width: 10%;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    color: black;
    background-color: whitesmoke;
}

.table-hover tbody tr:hover td::after,
.table-hover tbody tr:hover th ::after {
    transition: all .5s ease-in-out;
}

.container {
    transform-style: preserve-3d
}

.container .card-group {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer
}

.container .card-group .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
    color: #FFFFFF;
}

.container .card-group .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateY(180deg)
}

.container .card-group .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotateY(180deg)
}

.container .card-group .card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.container .card-group:hover .card {
    transform: rotateY(180deg)
}

.container .card-group .card div {
    transform-style: preserve-3d;
    padding: 20px;
    background: linear-gradient(45deg, #7a7979, #1a1a1a);
    transform: translateZ(100px)
}

.container .card-group .card div h3 {
    letter-spacing: 1px
}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}