.container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . ."". . . ."". . . .";
}

.card {
    transition: all .5s ease-in-out;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}