main > h1 {
  text-align: center;
  background-color: indianred;
  padding: 1em;
  margin-top: 0;
  margin-bottom: -0.5em;
}
img {
  max-width: 20%;
  height: auto;
}
.hikeStyles {
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
}
.hikeStyles div {
  padding: 0 0.5em;
}
.hikeStyles li > h2 {
  text-align: center;
  background-color: burlywood;
  margin-bottom: 0.5em;
}

.li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.li > h2 {
  width: 100%;
  flex: 1 0 auto;
}

.li > div {
  width: 40%;
  margin-left: 1em;
  flex: 1 1 auto;
}
.li h3 {
  margin-bottom: -0.5em;
}
